<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/nav.css">

    <style media="screen">
      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 700px;
}
.table{
  margin : 50px auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.button{
  margin: auto;
  width: 700px;
}
    </style>

  </head>
  <body>
  <%- include('navigation'); %>
<table class = "table">
  <tr>
    <th>Product Name</th>
    <th>Product Price</th>
    <th>Quantity</th>
  </tr>

  <% if (products.length > 0) { %>
      <% products.forEach(p => { %>
        <tr>
          <td><%=p.p_name%></td>
          <td><%=p.p_price%></td>
          <td>
            <%if(p.quantity){%>
              <%=p.quantity%>
            <%}else{%>
              1
            <%}%>
          </td>
        </tr>
      <%})%>
  <%} else {%>
    Dont ever come here
    <%}%>
    <tfoot id = 'total'>
    </tfoot>
</table>
<div class="button">
  <form action="/delete-orders" method="post">
    <input type="hidden" name="isOrders" value="yes">
    <button type="submit" name="button">Make Payment</button>
  </form>
</div>
  <script type="text/javascript">
  const total = document.querySelector('#total');
  const product = <%-JSON.stringify(products)%>
  let totalSum = 0;
    product.forEach((item, i) => {
      item.quantity = (item.quantity) ? item.quantity : 1;
      totalSum += item.quantity * item.p_price;
    });

    total.innerHTML = `<th>Total: ₹ ${totalSum}</th> `;
  </script>

  </body>
</html>
